[submodule "GamesmanClassic"]
	path = GamesmanClassic
	url = git@github.com:GamesCrafters/GamesmanClassic.git
[submodule "GamesmanGPU"]
	path = GamesmanGPU
	url = git@github.com:GamesCrafters/GamesmanGPU.git
